In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('processedDataNorm.csv')
dff = pd.read_csv('train.csv')
train_end_idx = len(dff) 
df_test = pd.read_csv('test.csv')
df_test['RainToday'] = np.zeros((len(df_test),))

In [4]:
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit
from sklearn.decomposition import PCA, FastICA
from sklearn import preprocessing

#pca = PCA(n_components=17, random_state=420) # (24609, 17)
#t0 = time.time()
#X_reduced_tsne = TSNE(n_components=2, random_state=42).fit_transform(X.values)

X_train, X_test, y_train, y_test = train_test_split(
    df.drop(columns = ['RainToday']).values[:train_end_idx, :],
    df['RainToday'].values[:train_end_idx], test_size=0.3)
X_ans = df.drop(columns = ['RainToday']).values[train_end_idx:, :]

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, f1_score
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier, AdaBoostClassifier
from sklearn.linear_model import SGDClassifier, LogisticRegression, SGDRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import VotingClassifier
from sklearn.neighbors import KNeighborsClassifier

#final_dt = DecisionTreeClassifier()                   
#final_bc = BaggingClassifier(base_estimator=final_dt, n_estimators=10, random_state=0, oob_score=True) 

#final_bc.fit(X_train, y_train)
#y_pred_decision = final_bc.predict(X_test) # 0.244
model1 = DecisionTreeClassifier(random_state=101, criterion="entropy", min_samples_leaf=4, min_samples_split=9) # 0.279
model3 = RandomForestClassifier(n_estimators= 17, random_state=101) #0.236
model4 = SGDClassifier(loss='modified_huber', shuffle=True, random_state=101)#, alpha=0.00011) #0.019
model6 = GaussianNB() # 0.31
model7 = AdaBoostClassifier(n_estimators=80, learning_rate= 1.4, random_state=101) # 0.27
#model.fit(X_train, y_train)
model = LogisticRegression()
#model = VotingClassifier(estimators=[('d6', model6), ('d3', model7)], voting='soft')
model.fit(X_train, y_train) #  0.409821
#model = GaussianNB()
#model1.fit(X_train,y_train)

y_pred_decision = model.predict(X_test)
print('Accuracy: %f' % accuracy_score(y_test, y_pred_decision))
print('f1-score: %f' % f1_score(y_test, y_pred_decision))

Accuracy: 0.892197
f1-score: 0.000000

In [ ]:
ans_pred = model.predict(X_ans)
df_sap = pd.DataFrame(ans_pred.astype(int), columns = ['RainToday'])
df_sap.to_csv('myAns.csv',  index_label = 'Id')

In [6]:
df_test.head()

,Date,Location,MinTemp,MaxTemp,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM,RainToday
0,2013-07-05,Tuggeranong,NaN,NaN,5.69496,NaN,N,19.0,NaN,N,...,43.432433,74.253446,1025.3,1022.0,4.167266,4.27812,9.4,NaN,0.0,0.0
1,2015-03-22,Darwin,17.9,31.4,7.20000,11.000000,NaN,37.0,NaN,NW,...,30.315765,NaN,1015.8,1010.7,0.000000,0.00000,23.1,NaN,NaN,0.0
2,2017-06-14,Albury,9.9,24.9,5.69496,7.993227,NaN,NaN,NaN,SSE,...,44.068918,68.299536,1025.8,1022.0,NaN,4.27812,17.4,NaN,0.0,0.0
3,2008-02-04,Sale,NaN,22.0,3.60000,8.800000,WNW,NaN,NW,NaN,...,NaN,NaN,1021.3,1017.4,3.000000,3.00000,10.1,NaN,0.0,0.0
4,2014-11-03,NaN,24.0,NaN,5.40000,7.300000,S,30.0,SE,SE,...,65.558591,58.146710,1008.4,1006.1,3.000000,NaN,NaN,30.2,NaN,0.0